<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>ACP Controle Times</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
   </script>

  <!-- <script type="text/javascript"  -->
  <!--    src="/static/js/calc.js"> -->
  <!-- </script> -->
</head>

   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/calc.css" />

<body>
<!-- bootstrap requires a 'container' div around content -->
<div class="container">

<h1>ACP Brevet Closing times</h1>

  <!--
  -- If there are any warnings or other messages from a prior
  -- request to the server, 
  -- they appear above the rest of the content, just until the next 
  -- action.  (This is only on request/response transactions that
  -- result in regenerating the page, not on every xmlhttp request.) 
  -->

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<!-- Design on bootstrap grid -->
<form role="form">
<div class="row">
  <div class="col-md-2">
    <label>Checkpoint 1:</label>
  </div>
  <div class="col-md-2">
    <input id="kilometers1" type="text" class="form-control"
     name="kilometers" placeholder="Distance in kilometers"/>
  </div>
  <div class="col-md-3">
    <input type="text" class="form-control"
      name="location" placeholder="location" />
  </div>
  <div class="col-md-5">
    <span class="times form-control">Opening time: 0:00, 0 days later | Closing time: 0:00, 0 days later</span>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <label>Checkpoint 2:</label>
  </div>
  <div class="col-md-2">
    <input id="kilometers2" type="text" class="form-control"
     name="kilometers" placeholder="Distance in kilometers"/>
  </div>
  <div class="col-md-3">
    <input type="text" class="form-control"
      name="location" placeholder="location" />
  </div>
  <div class="col-md-5">
    <span class="times form-control">Opening time: 0:00, 0 days later | Closing time: 0:00, 0 days later</span>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <label>Checkpoint 3:</label>
  </div>
  <div class="col-md-2">
    <input id="kilometers3" type="text" class="form-control"
     name="kilometers" placeholder="Distance in kilometers"/>
  </div>
  <div class="col-md-3">
    <input type="text" class="form-control"
      name="location" placeholder="location" />
  </div>
  <div class="col-md-5">
    <span class="times form-control">Opening time: 0:00, 0 days later | Closing time: 0:00, 0 days later</span>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <label>Checkpoint 4:</label>
  </div>
  <div class="col-md-2">
    <input id="kilometers4" type="text" class="form-control"
     name="kilometers" placeholder="Distance in kilometers"/>
  </div>
  <div class="col-md-3">
    <input type="text" class="form-control"
      name="location" placeholder="location" />
  </div>
  <div class="col-md-5">
    <span class="times form-control">Opening time: 0:00, 0 days later | Closing time: 0:00, 0 days later</span>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <label>Checkpoint 5:</label>
  </div>
  <div class="col-md-2">
    <input id="kilometers5" type="text" class="form-control"
     name="kilometers" placeholder="Distance in kilometers"/>
  </div>
  <div class="col-md-3">
    <input type="text" class="form-control"
      name="location" placeholder="location" />
  </div>
  <div class="col-md-5">
    <span class="times form-control">Opening time: 0:00, 0 days later | Closing time: 0:00, 0 days later</span>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <label>Checkpoint 6:</label>
  </div>
  <div class="col-md-2">
    <input id="kilometers6" type="text" class="form-control"
     name="kilometers" placeholder="Distance in kilometers"/>
  </div>
  <div class="col-md-3">
    <input type="text" class="form-control"
      name="location" placeholder="location" />
  </div>
  <div class="col-md-5">
    <span class="times form-control">Opening time: 0:00, 0 days later | Closing time: 0:00, 0 days later</span>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <label>Checkpoint 7:</label>
  </div>
  <div class="col-md-2">
    <input id="kilometers7" type="text" class="form-control"
     name="kilometers" placeholder="Distance in kilometers"/>
  </div>
  <div class="col-md-3">
    <input type="text" class="form-control"
      name="location" placeholder="location" />
  </div>
  <div class="col-md-5">
    <span class="times form-control">Opening time: 0:00, 0 days later | Closing time: 0:00, 0 days later</span>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <label>Checkpoint 8:</label>
  </div>
  <div class="col-md-2">
    <input id="kilometers8" type="text" class="form-control"
     name="kilometers" placeholder="Distance in kilometers"/>
  </div>
  <div class="col-md-3">
    <input type="text" class="form-control"
      name="location" placeholder="location" />
  </div>
  <div class="col-md-5">
    <span class="times form-control">Opening time: 0:00, 0 days later | Closing time: 0:00, 0 days later</span>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <label>Checkpoint 9:</label>
  </div>
  <div class="col-md-2">
    <input id="kilometers9" type="text" class="form-control"
     name="kilometers" placeholder="Distance in kilometers"/>
  </div>
  <div class="col-md-3">
    <input type="text" class="form-control"
      name="location" placeholder="location" />
  </div>
  <div class="col-md-5">
    <span class="times form-control">Opening time: 0:00, 0 days later | Closing time: 0:00, 0 days later</span>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <label>Checkpoint 10:</label>
  </div>
  <div class="col-md-2">
    <input id="kilometers10" type="text" class="form-control"
     name="kilometers" placeholder="Distance in kilometers"/>
  </div>
  <div class="col-md-3">
    <input type="text" class="form-control"
      name="location" placeholder="location" />
  </div>
  <div class="col-md-5">
    <span class="times form-control">Opening time: 0:00, 0 days later | Closing time: 0:00, 0 days later</span>
  </div>
</div>

</form>

<script type="text/javascript">

  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

   $("#kilometers1, #kilometers2, #kilometers3, #kilometers4, #kilometers5, #kilometers6, #kilometers7, #kilometers8, #kilometers9, #kilometers10").keyup(function() {
              var e_kilometers = $(this).val();

              var target = $(this).parents(".row").find(".times");

              // DEBUG: How do I replace the 'times' field?
              // alert("Content of the field I want to change: " +
              //   target.html());

              // AJAX request
              $.getJSON($SCRIPT_ROOT + '/_calc_times',
                  // The object to pass to the server
                  { kilometers: e_kilometers },
                  // The function to call with the response
                  function(data) {
                     var times = data.result;
                     // alert("Got a response: " +  times);
                     target.text(times);
                  }); // End of the call to getJSON
   });  // End of the function to be called when field changes

</script>

</div>
</body> </html>
